* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-size: 2.4rem;
  color: #333;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

#dark-mode-toggle {
  padding: 5px 10px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#dark-mode-toggle:hover {
  background-color: #555;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#new-task {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-task-btn {
  width: 80px;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-btn:hover {
  background-color: #45a049;
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-list li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 8px;
  color: #333;
}

footer p span a {
  text-decoration: none;
  color: #020641;
}

footer i {
  font-size: 24px;
  margin: 0 10px;
  color: #333;
  cursor: pointer;
}

footer i:hover {
  color: black;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode #dark-mode-toggle {
  background-color: #f4f4f4;
  color: #333;
}

.dark-mode #task-list li {
  background-color: #444;
  border-color: #555;
}
