/* Button */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  gap: 10px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #000000;
}

/* With svg */
.svg {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg svg {
  width: 18px;
}

.svg svg path {
  fill: white;
}
/* Github */
.github {
  width: 0;
  opacity: 0;
  overflow: hidden;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  white-space: nowrap;
  transition: width 0.3s ease, opacity 0.3s ease;
}

/* Hover effect */
.btn:hover {
  width: 130px;
  border-radius: 44px;
  transition-duration: 0.3s;
}

.btn:hover .svg {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 5px;
}
/* Hover effect button's github */
.btn:hover .github {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* Button click effect*/
.btn:active {
  transform: translate(2px, 2px);
}
